

.ingrassed-intro {
    position: relative;
}

.ingrassed-intro::before {
    display: inline-block;
    content: "\"──────────────";
    position: absolute;
    top: -10px;
    left: 15px;
    font-size: 300%;
    font-family: 'CanvaSans-BoldItalic', sans-serif;

    color: #cdd9be;
}

.ingrassed-intro::after {
    display: inline-block;
    content: "\"──────────────";
    position: absolute;
    bottom: -10px;
    right: 15px;
    font-size: 300%;
    font-family: 'CanvaSans-BoldItalic', sans-serif;
    
    color: #cdd9be;

    transform: rotate(180deg);
}